html{
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.name {
    font-size: xx-large;
}

.body {
    background-color: rgb(253, 253, 246);
    margin: 0px;
    padding: 0;
    min-height: 100%;
}

.darkmode {
    background-color: rgb(27, 27, 27);
    color: whitesmoke;
}

.profilePicture {
    border-radius: 50%;
    box-shadow: 0px 1px 81px -10px rgba(66, 68, 90, 1);
}

.general {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.8;
}

.header {
    background-color: burlywood;
    max-width: 100%;
    text-align: center;
    padding: 10px;
}

.navspace {
    background-color: cadetblue;
    max-width: 100%;
    text-align: center;
}

.navbar {
    padding: 5px;
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0px;
}

.navItem {
    background-color: lavender;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 1px 81px -10px rgba(66, 68, 90, 1);
    text-decoration-line: none;
    margin: 6px;
    color: black;
    display: inline-block;
}

.navItem:hover {
    background-color: rgb(247, 247, 247);
}

.skillItem {
    text-align: justify;
    padding: 4px;
}

#aboutMe {
    border-bottom: 1px ridge gray;
}

.tableItem {
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
}

.tableItem:hover {
    background-color: rgb(140, 176, 177);
}

.tableData {
    background-color: rgb(110, 183, 185);
}

.tableHeader {
    background-color: cadetblue;
}

#education, #experience, #skills {
    padding-bottom: 100px;
}

.experienceTable, .educationTable {
    border-collapse: collapse;
}

.displayMode {
    cursor: pointer;
}

.skills, .experience, .education {
    overflow-x: auto;
}

.skillHeader {
    text-align: justify;
    border-bottom: 2px solid grey;
}
