html{
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    background-color: rgb(253, 253, 246);
    margin: 0 auto;
    min-height: 100%;
}

.darkmode {
    background-color: rgb(27, 27, 27);
    color: whitesmoke;
}

.profilePicture {
    border-radius: 50%;
    box-shadow: 0px 1px 81px -10px rgba(66, 68, 90, 1);
}

.general {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.8;
}

.article {
    margin: 10px;
}

.header {
    background-color: burlywood;
    max-width: 100%;
    text-align: center;
    padding: 10px;
}

.aboutMe {
    border-bottom: 1px ridge gray;
}





